In [ ]:
# ETE CÍCERO DIAS
# DOCENTE: CLOVES
# ESTUDANTE: TIAGO FÉLIX E TAYNÁ DE FRANÇA
# print('tiago e tayna')
# tipos de dados '''
c = True
print(type(c))

print('oi')

<class 'bool'>
oi